*{
    margin: 0;
    padding: 0;
}
 
 body{
    font-family: 'poppins', 'Belanosima';
    background-color: #EFF5F5;
 }


 /*=== Header ===*/

a{
    text-decoration: none;
    color: #181823;
    padding: 10px;
 }

 header{
    display: flex;
    min-height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #FC7300;
 }

 #logo{
    display: flex;
    align-items: center;
    color: #1F8A70;
 }

 #miLogo{
    height: 70px;
    padding: 10%;
    margin-right: 5px;
 }


 nav a{
    font-weight: 500;
    padding-right: 5px;
 }

 nav a:hover{
    color: #1F8A70;
 }
/*=== Cierra Header===*/

/*===Abre Main===*/

/*===quienes somos===*/

#quienesSomos{
   padding: 10px;
   color: #181823;
}

#quienesSomos h1{
   color: #FC7300;
   font-size: 50px;
   text-align: center;
}


/*===porque elegirnos===*/
#porqueElegirnos{
   padding: 10px;
   color: #181823;
}

#porqueElegirnos h1{
   padding: 10px;
   text-align: center;
   color: #1F8A70;
   font-size: 50px;
}

#porqueElegirnos img{
   width: 50%;
   padding: 5%;
   border-radius: 40%;
   float: right;
 }

 /*===ultimas noticias===*/

 ul li{
   list-style: none;
   margin: 0;
   padding: 0;
 }
 #ultimasNoticias h1{
   color: #FC7300;
   font-size: 50px;
   text-align: center;
 }

 #slider{
   margin: 0;
   position: relative;
   width: 700px;
   height: 500px;

 }

 #slider li{
   position: absolute;
   left: 0;
   top: 0;
   opacity: 0;
   width: inherit;
   transition: opacity .5s;
 }

 #slider li img{
   width: 75%;
   height: 500px;
   
 }


 #slider li:first-child{
   opacity: 1;
 }

 #slider li:target{
   opacity: 1;
 }

 #menuSlide{
   text-align: center;
   margin: 20px;
 }

 #menuSlide li{
   display: inline-block;
   text-align: center;
 }

 #menuSlide li a{
   display: inline-block;
   color: #181823;
   text-decoration: none;
   background-color: #FC7300;
   padding: 10px;
   width: 20px;
   height: 20px;
   font-size: 15px;
   border-radius: 100%;
 }

#tituloGaleria{
   text-align: center;
   padding: 10%;
   color: #1F8A70;
}
   /*=== Footer ===*/
 ion-icon{
   color: #1F8A70;
   font-size: 1.5rem;
 }




 /*=== Modelo Responsive ===*/


 /*=== Header ===*/

 @media (max-width: 708px){
    #container{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
        text-align: center;
    }

    #porqueElegirnos img{
      width: 100%;
    }

    #propuestaEducativa img{
      width: 100%;
    }

   /* If the screen size is 600px or less, set the font-size of <div> to 30px */
   #container{
      flex-direction: column;
  }

  nav{
      padding: 10px 0px;
      text-align: center;
  }

   @media only screen and (max-width: 700px) {
   #propuestaEducativa img{
     width: 100%;
   }

   @media only screen and (max-width: 700px) {
      #slider img{
        width: 90%;
      } }
 }
 }

 /*=== Trabajando con CSS-GRID===*/
@media (min-width: 768px) {
   /*=== Aplicando CSS a la Galería===*/
   section#galeria{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
  }
  /*=== Aplicando CSS al Footer===*/
  #piePagina{
      display: grid;
      padding: 5%;
      grid-template-columns: 1fr 2fr 1fr 0.5fr;
      justify-items: center;
      align-items: center;
      background-color: #EFF5F5;
      color: #1F8A70;
  }
  #redesSociales{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 10px;
  }

  /*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
   section#galeria{
       display: grid;
       grid-template-columns: repeat(4,1fr);
       gap: 10px;
   }
}
}





